h1 {
  font-size: 80px;
  line-height: 70px;
  color: #1bff07;
  font-size: 40px;
}

h1,
h2,
h3,
h4,
a,
p,
div {
  letter-spacing: -3%;
  font-weight: 400;
}

h1.intro__text {
  max-width: 980px;
  line-height: 70px;
  color: #1bff07;
  font-size: 80px;
}

h2.projects__text {
  font-size: 55px;
  line-height: 72px;
  color: white;
}

h3.skills__text {
  font-size: 55px;
  line-height: 72px;
  color: white;
}

h4.realize__text {
  font-size: 35px;
  line-height: 45.5px;
}

h5.contacts__text {
  max-width: 555px;
  font-size: 60px;
  line-height: 60px;
}

@media (max-width: 1199px) {
  h2.projects__text {
    font-size: 45px;
    line-height: 59px;
  }
  h3.skills__text {
    font-size: 45px;
    line-height: 58px;
  }
  h4.realize__text {
    font-size: 28px;
    line-height: 37px;
  }
  h5.contacts__text {
    max-width: 373px;
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 700px) {
  h1.intro__text {
    font-size: 40px;
    line-height: 48px;
  }

  h2.projects__text {
    font-size: 30px;
    line-height: 40px;
  }

  h4.realize__text {
    font-size: 28px;
    line-height: 37px;
  }
  h5.contacts__text {
    margin: 0 auto;
    max-width: 373px;
    font-size: 35px;
    line-height: 38px;
  }
}
